    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      
     .app-title{
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
     }
    </style>

  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-2 col-lg-1 mr-0 px-0" href="#">
                            <img src="webui/images/logo-text.png" alt="homepage" />
                        </a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="app-title w-100">Dynamic Distribution Lists Self Service</span>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

    <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block bg-light sidebar collapse" style="width:188px;min-wdith:188px;max-width:188px;">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/groups">
              <span data-feather="shopping-cart"></span>
              List Groups
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/query">
              <span data-feather="query"></span>
              Build/Test Group
            </a>
          </li>
           <!-- <li class="nav-item">
            <a class="nav-link" href="#!/groupDetails">
              <span data-feather="users"></span>
              Configure Group
            </a>
          </li> --> 
     <!-- <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Search Members
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#!/batchStatus">
              <span data-feather="layers"></span>
              Batch Process Status
            </a>
          </li>
        </ul>
      </div>
    </nav>
